.portfolio {
  width: 100%;
}

.portfolio .title {
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .title h1 {
  font-size: 2.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio .cards-wrapper .card {
  border: 5px solid #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24rem;
  margin: 2rem;
}

.portfolio .cards-wrapper .card .pic {
  height: 100%;
}

.portfolio .cards-wrapper .card .pic img {
  max-height: 100%;
}
