.contact {
  width: 100%;
  min-height: calc(100vh - 200px);
  padding: 3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;


  .title {
    h2 {
      font-size: 3.75rem;
      font-weight: 100;
      text-transform: uppercase;
      color: #2ec4b6;
      background: linear-gradient(to left, #2ec4b6 0%, #ffde01 81%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0;
      opacity: 0.55;
      user-select: none;
    }
  }


  .wrapper {
    border: 4px solid #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    height: 20rem;

    .canvas {
      width: 17vw;
      height: 100%;
      padding: 1rem;
      margin: 0;
      justify-content: flex-end;
      background-color: #ffde01;
      position: relative;

      img {
        position: absolute;
        bottom: 0;
        right: -2rem;
        top: unset;
        width: 17vw;
      }
    }

    .contact-form {
      width: 60%;
      height: 100%;
      padding: 1rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;

      .input-wrapper {
        display: flex;
        flex-direction: column;
        height: 4rem;
        width: 80%;
      }
    }
  }
}









@media only screen and (max-width: 700px) {
  .contact {
    .title {
      h2 {
        font-size: calc(2.5rem + 2.5vw);
        font-weight: 700;
      }
    }
  }

  .contact {
    .wrapper {
      .contact-slider {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 0.5rem;
      }
    }
  }
}