.testimonials {
  width: 100%;
  min-height: calc(100vh - 3rem);
  padding: 3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.testimonials .title h2 {
  font-size: 3.75rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #2ec4b6;
  background: linear-gradient(to left, #2ec4b6 0%, #ffde01 81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  opacity: 0.25;
  user-select: none;
}

.testimonials .wrapper {
  width: 100%;
}

.testimonials .wrapper .testimonials-slider {
  height: max-content;
  min-height: 15rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 22%));
  grid-gap: 0.5rem;
  align-items: stretch;
  justify-content: center;
  margin: 3rem auto;
}

.testimonials .wrapper .testimonials-slider .card {
  height: 4rem;
  width: 50%;
  min-width: 155px;
  max-width: 160px;
  border: 1px solid #c5c3c3;
  border-top: 5px solid #c5c3c3;
  border-bottom: 5px solid #c5c3c3;
  border-radius: 0.5rem;
  padding: 1rem;
  justify-self: center;
  align-self: center;
}

.testimonials .wrapper .testimonials-slider .card img.employer-logo {
  width: 6rem;
  max-height: 1.5rem;
}

.testimonials .wrapper .testimonials-slider .card.active {
  height: 20rem;
  min-width: 230px;
  border: none;
  border-top: 24px solid #ffde01;
  border-bottom: 24px solid #ffde01;
  border-radius: 0.5rem;
  position: relative;
  background: linear-gradient(to bottom left, #061872 10%, #03012c 75%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.testimonials .wrapper .testimonials-slider .card.active p.quote {
  font-size: 1.15rem;
  font-weight: 500;
  display: block;
  padding: 1.5rem;
}

.testimonials .wrapper .testimonials-slider .card.active .testimonial-employer {
  color: #2421a6;
  position: absolute;
  top: -1rem;
  font-size: 0.65rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.testimonials
  .wrapper
  .testimonials-slider
  .card.active
  .testimonial-colleague {
  color: #2421a6;
  position: absolute;
  bottom: -1.25rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}

.testimonials
  .wrapper
  .testimonials-slider
  .card.active
  .testimonial-colleague
  .name {
  font-size: 0.9rem;
  font-weight: 500;
}

.testimonials
  .wrapper
  .testimonials-slider
  .card.active
  .testimonial-colleague
  .position {
  font-size: 1rem;
  font-weight: 200;
}

.testimonials .arrows {
  width: 30%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.testimonials .arrows .arrow {
  width: 1.75rem;
  height: 1.75rem;
  margin: 1.5rem 0.5rem 3rem;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .testimonials .title h2 {
    font-size: calc(1.5rem + 2.5vw);
  }
  .testimonials .wrapper .testimonials-slider {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-gap: 0.5rem;
  }
}
