:root {
  --nightSky: #020128;
  --nightFooter: #020118;
  --daySky: #fff;
  --dayFooter: #15135b;
  --yellow: #fede00;
  --orange: #ffb800;
  --turquoise: #2ec4b6;
  --black: #000;
  --gold: #e7c48b;
  --logoMultiply: #0d0c44;
  --textDark: #15135b;
  --textLight: #fff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
